* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator button {
    background-color: white;
    color: black;
    border: none;
    font-size: 2.5rem;
    height: 100px;
    width: 100%;
}

.calculator button:hover {
    background-color: #ebebeb;
}

.calculator button:active {
    background-color: #bbbcbe;
}

.calculator table {
    width: 25%;
    background-color: black;
    color: white;
    width: 400px;
}

.calculator th {
    /* height: 80px; */
    padding: 20px 5px;
    font-size: 40px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.calculator td {
    width: 25%;
}

.calculator .color {
    color: white;
    background-color: #5DFDCB;
}

.calculator .color:hover {
    background-color: #83ffd8;
}


/* border="1" width="50%" height="400px" */